/*********UTILITIES***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .fas{
    color: #fff;
    background-color: #000;
}

.display-flex{
    display: flex;
}

/*********HEADER***********/

header{
/*     align-self: flex-start; */
    height: 100px;
    width: 100%;
}

header nav{
    justify-content: flex-end;
}

header nav div{
    background-color: #4a4a4a;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*********MAIN***********/

main{
    margin: 0 95px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.zoom-member{
    background-image: url( https://picsum.photos/246/146);
    margin: 5px;
    width: 246px;
    height: 146px;

    align-items: flex-end;
}

.member-name{
    background-color:rgba(0,0,0,0.6);
 
}

/*********FOOTER***********/

footer{
    height: 110px;
    background-color: #222222;
}