/*********UTILITIES***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-red{
    color: #ff0000;
}

.color-green{
    color: #00ff00;
}

.bg-color-grey{
    background-color: #4a4a4a;
}

.fas{
    padding: 5px;
}

.display-flex{
    display: flex;
}

body{
    color: #fff;
    background-color: #000;
}

/*********HEADER***********/

header{
/*     align-self: flex-start; */
    height: 60px;
    width: 100%;
}

header nav{
    justify-content: flex-end;
}

header nav div{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*********MAIN***********/

main{
    margin: 40px 95px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.zoom-member{
    background-image: url( https://picsum.photos/246/146);
    margin: 5px;
    width: 246px;
    height: 146px;

    align-items: flex-end;
}

.member-name{
    background-color:rgba(0,0,0,0.5);
 
}

/*********FOOTER***********/

footer{
    height: 110px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

footer .icon-box{
    margin: 0 15px;
}

.icon-box i.fas:nth-of-type(2){
    padding: 0 20px;
}

footer nav:nth-child(3) div{
    padding: 46px 30px;
}